/* WE ARE RMOVING THE DEFAULT SETTINGS */
/*fonts*/
@font-face{
  font-family: oswald;
  src:url(../fonts/Oswald-Bold.ttf);
  }
  
  
  /*html,body*/
  *{
  margin:0;
  padding:0;
  font-family: Oswald, Arial, sans-serif;
  box-sizing: border-box;
 
  backface-visibility:initial;
  }
  body,html{
  overflow-x:hidden;
  /* background-image: url(../PICS/gym4.png); */
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
/* HEADER SECTION */
header{
width:100vw;
height:100vh;
background: linear-gradient(rgba(17, 178, 199, 0.2), rgba(17, 199, 190, 0.2)), url(../PICS/gym3.png);
background-size: cover;
background-repeat: none;
display:flex;
align-items: flex-end;
justify-content: center;
}
.header-content{
margin-bottom: 150px;
color:#f7f6fa;
text-align:center;
letter-spacing: 5px;
}
.header-content h2 {
font-size: 30px;
color: rgb(24, 21, 17);
}
.line{
width: 170px;
height:4px;
background-color: #823401;
margin:20px auto;
border-radius:5px;
}
.header-content h1{
font-size: 7vmin;
margin-top: 30px;
margin-bottom: 30px;
color:#07fa079f;
}

.ctn{
padding: 8px 45px;
background-color: #823401;
border: none;
border-radius: 5px;
color:#fff;
text-transform: uppercase;
letter-spacing: 5px;
}
.ctn:hover{
/* background-color: #78c978; */
color:#fdfbfb;
box-shadow: 1px 1px 4px #000;
}
.menu-btn{
position: absolute;
top: 30px;
right: 30px;
width: 40px;
cursor: pointer;
display: none;
}

/* NAVIGATION CSS SECTION */
.navbar{
position: absolute;
top: 0;
left:0;
display: flex;
width: 100%;
justify-content: space-between;
padding: 20px;
color:#fff;
background-color: #823401;
}
.nav-links{
display: flex;
align-items: center;
}
.nav-links li{
/* margin:0px 30px; */
padding:0px 20px;
/* text-decoration: none; */
list-style: none;
text-transform: uppercase;
letter-spacing: 4px;
font-size: 15px;
}
.nav-links li a{
  text-decoration: none;
  color: #fff;
}

.nav-links li a:hover{
color:#77f577de;
}
.logo{
letter-spacing: 4px;
font-size: 5vmin;
}
.logo span{
color: #0ab404;
}

/*about*/
.container{
/* max-width: 800px; */
min-height: 87vh;
position: relative;
margin: auto;
}

.about{
color: rgb(255, 255, 255);
width: 60%;
height: 400px;
background-color: #823401;
display: flex;
flex-direction: row;
margin: 20px auto;
}

img{
height: 100%;
}

.topic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 12rem;
}

.topic .info {
  margin:1rem;
}

.summary {
  padding: 0 6rem;
  line-height: 30px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.info-content{
padding: 12px 0;
}

/*cards*/
main{
  width: 81%;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

aside{
  width: 27%;
  height: auto;
  color:#fff;
  margin: 2px auto;
}

section{
  width: 27%;
  height: auto;
  margin: 2px auto;
}


.card{
  /* box-shadow: 0 4px 8px 0 rgb(59, 59, 59); */
  /* transition: 0.3s; */
  width: 100%;
  /* height: 90%; */
  /* background: #3b3b3b; */
  height: 400px;
  background-color:#f5f5f5;
  padding:50px 10% 35px;
  border: 1px solid #c3c3cc;
}

.card-detail{
  color:#080b10;
}


.card:hover{
  box-shadow: 0 4px 8px 0 rgb(59, 59, 59);
  transition: 0.3s;
}


.button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #823401;
  border-radius: 5px
}

.button a {
  text-decoration: none;
  color: white;
}
footer{
position: relative;
margin: 140px 0 0;
background-color: #823401;
color: #d7d7df;
align-items: center;
text-align: center;
}









